*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 200px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.6em;
  font-size: 1.6em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.top-buttons {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 2rem;
  aspect-ratio: 2 / 1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1a1a1a;
    background-color: #213547;
  }
  a:hover {
    color: #4a4d89;
  }
  button {
    background-color: #242424;
    color: #4a4d89;
  }
}
@media (max-width: 480px) {
  #displayOutput {
    align-items: stretch;
  }
}
#displayOutput {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 88%;
  padding: 1.6em;
  text-align: center;
  font-size: large;
  background-color: #4a4d89;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-table {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(4, minmax(80px, 120px));
  grid-gap: 2px;
  margin: 2px auto;
  justify-content: center;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 120px));
  grid-gap: 2px;
  margin: 2px auto;
  justify-content: center;
  align-items: stretch;
}

.top {
  display: flex;
}
